*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  padding: 150px 10px;
  font-family: Montserrat, Fraunces, Arial, sans-serif;
  background-color: hsl(30, 38%, 92%);
  color: #333;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: min(375px, 100%);
}
.card img {
  width: 100%;
  display: block;
}

.card-content {
  padding: 10px 30px 0px;
}

.card-product {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  margin: 15px 0 10px;
}
.card-title {
  font-family: fraunces, serif;
  font-size: 1.5rem;
  margin: 15px 0 10px;
}

.card-desc {
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.5;
  color: hsl(228, 12%, 48%);
}

.card-price {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 30px;
}

.price-sale {
  font-family: fraunces, serif;
  color: hsl(158, 36%, 37%);
  font-size: 1.5rem;
  margin: 0;
  font-weight: 700;
}

.price-nomal {
  text-decoration: line-through;
  font-size: 0.75rem;
  color: hsl(228, 12%, 48%);
}

.card-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: hsl(158, 36%, 37%);
  color: #fff;
  border: none;

  width: calc(100% - 60px);
  margin: 20px 30px 30px;
  padding: 15px;
  border-radius: 8px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
}

.card-btn img {
  width: 15px;
}
.card-btn:hover {
  background-color: hsl(158, 36%, 25%);
}

@media (min-width: 768px) {
  .card {
    display: flex;
    width: 600px; /* 桌面端卡片宽度 */
    height: 420px; /* 桌面端卡片高度 */
  }

  .card-title {
    font-size: 2rem;
  }
  .card > img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  .card-content {
    width: 100%;
    padding: 20px 30px;
  }

  .card-btn {
    width: 80%;
    margin: 20px 30px;
  }

  .card-price {
    margin: 0;
  }
}
